---
layout: default
comments: true
title: Blog
---

{% assign items = "" %}
<ul class="post-list">
  {% for post in site.posts %}  
  <li>
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      <div class="wrapper">
        {{ post.content | replace: '<img', '<amp-img height="218" width="718" layout="responsive"' }}
      </div>
      <p class="description">
        {% if post.description %}
          {{ post.description | strip_html | strip_newlines | truncate: 250 }}
        {% else %}
          {{ post.content | strip_html | strip_newlines | truncate: 250 }}
        {% endif %}
      </p>
    </li>
    {% capture list_item %}
      {%
          include blogListItem.html
          index=forloop.index
          url=post.url
          baseUrl=site.url
          imageUrl=post.imageUrl
          title=post.title
      %}
    {% endcapture %}
  {% endfor %} 
</ul>

