---
layout: default
comments: true
title: Blog
---

<ul class="post-list">
	{% for post in site.posts %}
	  <li>
		<h2>
		  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
		</h2>
		  <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
		<p class="description">
			{% if post.description %}
				{{ post.description | strip_html | strip_newlines | truncate: 250 }}
			{% else %}
				{{ post.content | strip_html | strip_newlines | truncate: 250 }}
			{% endif %}</p>
	  </li>
	{% endfor %}
</ul>
