{% assign wordcount = include.content | number_of_words %}

<script type="application/ld+json">
{
    "@context":"http://schema.org",
    "@type":"BlogPosting",
    "headline":"{{ include.headline }}",
    "genre":"{{ include.category }}",
    "keywords":"{{ include.keywords }}",
    "wordCount":"{{ wordcount }}",
    "url":"{{ include.baseUrl }}{{ include.link }}",
    "datePublished":"{{ include.date | | date: '%Y-%m-%d' }}",
    "dateModified":"{{ include.date | | date: '%Y-%m-%d' }}",
    "author": {
        "@type": "Person",
        "name": "Dan Bonab",
        "sameAs": [
            "https://twitter.com/innopal",
            "https://github.com/innopal"
        ]
    },
    "publisher":{
        "@type": "Organization",
        "name": "tournamatic",
        "sameAs": [
            "https://twitter.com/tournamatic",
            "https://github.com/tournamatic"
        ],
        "logo": {
            "@type": "ImageObject",
            "contentUrl": "{{ include.baseUrl }}/assets/img/logo.png",
            "url": "https://tournamatic.com"
        }
    },
    "image":{
        "@type":"ImageObject",
        "contentUrl":"{{ include.imageUrl }}",
        "url": "{{ include.baseUrl }}{{ include.link }}",
        "height":"450",
        "width":"1000"
    },
    "mainEntityOfPage":{
        "@type":"WebPage",
        "@id":"{{ include.baseUrl }}{{ include.link }}"
    },
    "articleBody":"{{ include.content | strip_html | xml_escape | normalize_whitepace | strip_newlines | strip }}"
}
</script>